[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
groq = "*"
pydub = "*"
pyaudio = "*"
speechrecognition = "*"
gtts = "*"
elevenlabs = "==0.2.27"
gradio = "*"

[dev-packages]

[requires]
python_version = "3.13"
